@import "theme.css";

* {
  all: initial;
  color: @foreground;
  font-family: "CommitMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
}

@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

#waybar {
  background-color: transparent;
}

#waybar > box {
  padding: 6px;
}

tooltip {
  border: 2px solid @accent1;
  border-radius: 6px;
  background-color: @background;
}

tooltip > box {
  padding: 0px 2px;
}
