* {
  all: unset;
  font-family: "CommitMono Nerd Font";
  font-size: 12;
  font-weight: bold;
}

popover {
  background: alpha({{ colors.background.default.hex }}, 0.9);
  border: 2px solid {{ colors.primary_container.default.hex }};
  border-radius: 5px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow: 0px 0px 16px 0px {{ colors.shadow.default.hex }};
  background: alpha({{ colors.background.default.hex }}, 0.9);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid {{ colors.primary_container.default.hex }};
}

.preview-box,
.elephant-hint,
.placeholder {
  color: {{ colors.on_background.default.hex }};
}

.box {
}

.search-container {
  border-radius: 5px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: {{ colors.primary_container.default.hex }};
  color: {{ colors.on_primary_container.default.hex }};
}

.input {
  caret-color: {{ colors.on_primary.default.hex }};
  background: {{ colors.primary.default.hex }};
  color: {{ colors.on_primary.default.hex }};
  padding: 10px;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: {{ colors.on_primary_container.default.hex }};
}

child {
}

.item-box {
  border-radius: 5px;
  padding: 10px;
}

.item-quick-activation {
  background: {{ colors.primary_container.default.hex }};
  color: {{ colors.on_primary_container.default.hex }};
  border-radius: 5px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box {
  background: {{ colors.primary.default.hex }};
  color: {{ colors.on_primary.default.hex }};
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 2px solid {{ colors.primary_container.default.hex }};
  color: {{ colors.on_primary_container.default.hex }};
  border-radius: 5px;
  padding: 10px;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  border-top: 1px solid {{ colors.primary_container.default.hex }};
  color: {{ colors.on_background.default.hex }};
  font-size: 12px;
  padding-top: 10px;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 2px solid {{ colors.primary_container.default.hex }};
}

.error {
  padding: 10px;
  background: {{ colors.error.default.hex }};
  color: {{ colors.on_error.default.hex }};
}

:not(.calc).current {
  font-style: italic;
}